.tree {
  background-color: rgb(30, 30, 30);
  color: bisque;
  font-family: Tahoma, sans-serif;

  padding: 12px 5px;

  .label-name {
    margin-right: 4px;
    &:hover {
      color: rgb(30, 30, 30);
      background-color: bisque;
    }
  }

  .leaf,
  tree-label {
    display: inline-block;
    height: 18px;

    .name {
      margin-right: 4px;
      &:hover {
        color: rgb(30, 30, 30);
        background-color: bisque;
      }
    }

    input {
      border: none;
      line-height: 18px;
    }

    .value {
      .null {
        color: red;
        font-style: italic;
      }
      .undefined {
        color: red;
      }
      .string {
        .quote {
          color: darksalmon;
          font-weight: bold;
        }
        .content {
          color: darksalmon;
        }
      }

      .boolean {
        color: cadetblue;
      }

      .default {
        color: palegreen;
      }
    }
  }
}
